* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #09090a; font-family: 'Roboto', sans-serif; color: #fff; }

header { padding: 20px; text-align: center; background: #121214; border-bottom: 2px solid #8257e5; }
.header-top { display: flex; justify-content: space-between; align-items: center; max-width: 1200px; margin: 0 auto; }

.seletores-pais { display: flex; gap: 15px; }
.seletores-pais img { 
    width: 50px; height: 35px; cursor: pointer; border-radius: 5px; 
    transition: 0.3s; border: 2px solid transparent; 
}
.seletores-pais img:hover { transform: scale(1.2); border-color: #ffdf00; }
.seletores-pais img.active { border-color: #ffdf00; box-shadow: 0 0 10px #ffdf00; }

.placar { display: flex; justify-content: center; gap: 20px; margin-top: 15px; }
.player-score { background: #09090a; padding: 10px 25px; border-radius: 8px; opacity: 0.4; transition: 0.3s; }
.player-score.active { opacity: 1; border: 2px solid #8257e5; transform: scale(1.05); }
.player-score span { font-size: 1.8rem; font-weight: 900; color: #8257e5; }

#status-jogo { margin-top: 10px; color: #a8a8b3; font-weight: bold; text-transform: uppercase; }

#app { padding: 40px; max-width: 1200px; margin: 0 auto; }
.cards-wrapper { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); /* 5 colunas x 4 linhas = 20 cards */
    gap: 20px; 
}

/* CARD STYLE */
.card-container { width: 180px; height: 260px; perspective: 1000px; cursor: pointer; }
.card-inner { position: relative; width: 100%; height: 100%; transition: transform 0.6s; transform-style: preserve-3d; }
.card-container.flipped .card-inner { transform: rotateY(180deg); }

.card-front, .card-back { 
    position: absolute; width: 100%; height: 100%; backface-visibility: hidden; border-radius: 15px; 
}

/* Verso (Capa) */
.card-front { background: #29292e; border: 2px solid #323238; display: flex; align-items: center; justify-content: center; }
.card-front::after { content: "?"; font-size: 3rem; color: #121214; }

/* Frente (Jogador) */
.card-back { transform: rotateY(180deg); display: flex; flex-direction: column; align-items: center; overflow: hidden; }
.brasil { background: #006437; }
.argentina { background: #1e3a5a; }
.franca { background: #050a30; }
.alemanha { background: #1a1a1a; }

.foto-container { width: 100px; height: 100px; border-radius: 50%; border: 3px solid #ffdf00; margin-top: 30px; overflow: hidden; background: #000; }
.foto-container img { width: 100%; height: 100%; object-fit: cover; }
.info { margin-top: auto; background: rgba(0,0,0,0.7); width: 100%; padding: 15px; text-align: center; }
.info h1 { font-size: 1rem; }
.info span { color: #ffdf00; font-weight: bold; }

.matched { opacity: 0.3; pointer-events: none; transition: 0.5s; }